html, body {
    background-color: black;
}

#postCardContainer {
    background-color: white;
    width: 600px;
    height: 420px;
    padding: 0 20px 20px;
    margin: 250px auto;
}

.flexBoxContainers {
    display: flex;
}

.flexBoxContainers div {
    width: 50%;
}

#firstHeaderBox {
    font-family: 'Handlee', cursive;
    font-size: 30px
}

#secondHeaderBox {
    margin: auto;
    text-align: right;
}

#leftTextContainer p {
    font-family: 'Handlee', cursive;
    font-size: 23px;
    margin: 0;
    text-align: left;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 20px;
}

#rightTextContainer input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 26px;
    border: none;
    border-bottom: 1px solid black;
}

input::placeholder {
    font-family: 'Indie Flower', cursive;
    color: #808080;
}

#bottomContainer {
    text-align: center;
}

button {
    font-family: 'Indie Flower', cursive;
    background-color: #C8C8C8;
    border: none;
    font-size: 20px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 0px #888888;
}
